@model IEnumerable<Common.Entities.Product>

@{
    Layout = "~/Views/Shared/_AdminPage.cshtml";
    ViewBag.Title = "All products";
}

<div class="border border-dark rounded col-lg-7">
    <table class="table table-hover">
        <thead class="thead-light ">
            <tr>
                <th class="columnWidth-26per" scope="col">Id</th>
                <th class="columnWidth-26per" scope="col">Название</th>
                <th class="columnWidth-26per" scope="col">Цена</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="results">
            @foreach (var product in Model)
            {
                <tr class="changes">
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <input type="button" value="Изменить" class="btn btn-outline-primary btn-block btn-sm" onclick="location.href = '@Url.Action("Edit", "Product", new {id = product.Id})'" />
                    </td>
                    <td>
                        <input type="button" value="Удалить" class="btn btn-outline-danger btn-block btn-sm" onclick="location.href = '@Url.Action("Delete", "Product", new {id = product.Id})'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>