@model IEnumerable<Common.Entities.Order>

@{
    ViewBag.Title = "All orders";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}
 
<div class="col-md-7 border border-dark rounded">
    <h4 class="text-center">Все заказы</h4>
    <table class="table table-hover">
        <thead class="thead-light ">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Статус</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Продукт</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="results">
        @foreach (var order in Model)
        {
            <tr class="changes">
                <td>@order.Id</td>
                <td>@order.Status.Name</td>
                <td>@order.Count</td>
                <td>@order.Payment</td>
                <td>
                    @order.Product.Name
                </td>
                <td>
                    <input type="button" style="width: 100px;" value="Изменить" class="btn btn-outline-primary btn-block btn-sm" onclick="location.href = '@Url.Action("Edit", "Order", new {id = order.Id})'" />
                </td>
                <td>
                    <input type="button" value="Удалить" class="btn btn-outline-danger btn-block btn-sm" onclick="location.href = '@Url.Action("Delete", "Order", new {id = order.Id})'" />
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>