@model WEB.Models.CreateOrderModel

@{
    Layout = "~/Views/Shared/_Main.cshtml";
    ViewBag.Title = "Create order";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-7 border border-dark rounded" style="margin: 15px; background-color: #f5f5f5;">
            <h4 class="text-center">Создание заказа</h4>
            @using (Html.BeginForm("Create", "Order"))
            {
                <div class="form-group">
                    <select class="custom-select mr-sm-2" id="ProductId" name="ProductId" onchange="OnSelectionChange(this)">
                        @Html.Action("ProductsInSelect", "Product")
                    </select>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Count, new
                    {
                        @class = "form-control",
                        @placeholder = @Html.DisplayNameFor(x => x.Count)
                    })
                    <span>@Html.ValidationMessageFor(x => x.Count)</span>
                </div>
                <div class="btn-group justify-content-md-center">
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x=>x.Monday) Пн
                    </label>
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x => x.Tuesday) Вт
                    </label>
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x => x.Wednesday) Ср
                    </label>
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x => x.Thursday) Чт
                    </label>
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x => x.Friday) Пт
                    </label>
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x => x.Saturday) Сб
                    </label>
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x => x.Sunday) Вс
                    </label>
                </div>

                <div class="btn-group" style="margin-top: 10px">
                    <label class="btn btn-primary active">
                        @Html.CheckBoxFor(x => x.OnceAWeek) Раз в неделю
                    </label>
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x => x.TwiceAWeek) Раз 2 в недели
                    </label>
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x => x.ThreeTimesAWeek) Раз 3 в недели
                    </label>
                    <label class="btn btn-primary">
                        @Html.CheckBoxFor(x => x.OnceAMonth) Раз в месяц
                    </label>
                </div>
                <div class="text-center" style="margin: 15px">
                    <input type="submit" class="btn btn-outline-success" value="Создать" />
                    <span>
                        <input type="button" class="btn btn-outline-danger" Value="Назад" onclick="location.href = '@Url.Action("Index", "Home")'" />
                    </span>
                </div>
            }
        </div>
    </div>
</div>