@model WEB.Models.EditOrderModel

@{
    Layout = "~/Views/Shared/_Main.cshtml";
    ViewBag.Title = "Create product";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 border border-dark rounded" style="margin: 15px; background-color: #f5f5f5;">
            <h4 class="text-center">Create order</h4>
            @using (Html.BeginForm("Login", "Account"))
            {
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Products, new
                    {
                        @class = "form-control",
                        @placeholder = @Html.DisplayNameFor(x => x.Products)

                    })
                    <span>@Html.ValidationMessageFor(x => x.Products)</span>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Days, new
                    {
                        @class = "form-control",
                        @placeholder = @Html.DisplayNameFor(x => x.Days)

                    })
                    <span>@Html.ValidationMessageFor(x => x.Days)</span>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Count, new
                    {
                        @class = "form-control",
                        @placeholder = @Html.DisplayNameFor(x => x.Count)
                    })
                    <span>@Html.ValidationMessageFor(x => x.Count)</span>
                </div>
                <div class="text-center" style="margin: 15px">
                    <input type="submit" class="btn btn-outline-success" value="Login" />
                    <span>
                        <input type="button" class="btn btn-outline-danger" Value="Cancel" onclick="location.href = '@Url.Action("Index", "Home")'" />
                    </span>
                </div>
            }
        </div>
    </div>
</div>