@model Common.Entities.Order

@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Main.cshtml";
}

        <div class="border border-dark rounded">
            <h4>Заказ N @Model.Id</h4>
            Стоимость: @Model.Payment
            Статус: @Model.Status
        </div>
<div class="border border-dark rounded" style="margin-left: 15px">
    <table class="table table-hover">
        <thead class="thead-light ">
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th>
                Стоимость
            </th>
        </tr>
        </thead>
        <tbody>
        <td>
            <th>
                @Model.Product.Id
            </th>
            <th>
                @Model.Product.Name
            </th>
            <th>
                @Model.Product.Price
            </th>
        </td>
        }
        </tbody>
    </table>
</div>