<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Application.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <div>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
                <a class="navbar-brand d-flex w-50 mr-auto" href="@Url.Action("Index", "Home")">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                    <ul class="navbar-nav text-right">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Home")">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Registration", "Home")">Registration</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>

@*<input type="button" class="btn btn-outline-info" value="Register" onclick="location.href = '@Url.Action("Register", "Home")'" />
    <input type="button" class="btn btn-outline-info" value="Login" onclick="location.href = '@Url.Action("Login", "Home")'" />*@