@model IEnumerable<Common.Entities.OrderStatus>

@{
    ViewBag.Title = "Все статусы";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<div class="col-md-4 border border-dark rounded">
    <h4 class="text-center">Все статусы</h4>
    <table class="table table-hover">
        <thead class="thead-light ">
            <tr>
                <th class="columnWidth-26per" scope="col">Id</th>
                <th class="columnWidth-26per" scope="col">Название</th>
                <th style="width: 60px" scope="col"></th>
                <th style="width: 60px" scope="col"></th>
            </tr>
        </thead>
        <tbody id="results">
            @foreach (var orderStatus in Model)
            {
                <tr class="changes">
                    <td>@orderStatus.Id</td>
                    <td>@orderStatus.Name</td>
                    <td>
                        <input type="button" value="Edit" class="btn btn-outline-primary btn-block btn-sm stretch" onclick="location.href = '@Url.Action("Edit", "OrderStatus", new {id = orderStatus.Id})'" />
                    </td>
                    <td>
                        <input type="button" value="Delete" class="btn btn-outline-danger btn-block btn-sm stretch" onclick="location.href = '@Url.Action("Delete", "OrderStatus", new {id = orderStatus.Id})'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-lg-2" style="margin-left: 15px">
    <div class="marginItem" style="margin: 10px;">
        <div style="margin-top: 10px">
            <input type="button" class="btn btn-outline-secondary btn-block" value="Cancel" onclick="location.href = '@Url.Action("Index", "Home")'" />
        </div>
    </div>
</div>